<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <link rel="stylesheet" href="/signup.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
<body>
    <center>
      <div class="container">
        <h1>Add Product</h1>
        <form action="admin" method="post">
          <input required type="text" id="productName" name="productName" placeholder="Product Name"><br>
          <input required type="number" id="price"     name="price" placeholder="Product Price"><br>
          <input required type="number" id="warranty"  name="warranty" placeholder="Warranty"><br>
          <input required type="url" class="images"    name="image01" placeholder="Images..."><br>
          <input required type="url" class="images"    name="image02" placeholder="Images..."><br>
          <input required type="url" class="images"    name="image03" placeholder="Images..."><br>
          <input required type="url" class="images"    name="image04" placeholder="Images..."><br>
          <input type="submit" value="Add Product">
        </form>
      </div>
    </center>
</body>
</html>