
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="portfolio.js"></script>
  </head>

  <body>
      <div class="container">
        <center><h1>Welcome to our Ecommerce Site</h1></center>
        <div class="productList">
          {{#each products}}
          <div class="product">
            <img src="{{images.image01}}" width="200" height="200" alt="Product Img">
            <h2>{{productName}}</h2>
            <p>{{price}}Rs. </p> 
          </div>
          {{/each}}
        </div>
      </div>
  </body>
</html>
